PORT=3000
JWT_SECRET=super_secret_jwt_key_change_in_production_2026
ADMIN_USERNAME=admin
ADMIN_PASSWORD_HASH=$2a$12$e/a/049L5S2A3T3T3R3E3O.99999999999999999999999 # bcrypt hash
STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx
ALIEXPRESS_APP_KEY=xxx
ALIEXPRESS_APP_SECRET=xxx
PAYOUT_CARD_TOKEN=tok_12345